<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donation Site</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="page-container">
    <div id="content-wrap">
      <nav class="navbar navbar-expand-md">
        <a href="/" class="navbar-brand">Donate</a>
        <div class="" id="">
          <ul class="navbar-nav mr-auto">
            <li class="">
              <a class="nav-link" id="home-link" href="/">Home</a>
            </li>
            <li class="">
              <a class="nav-link" href="/about">Our mission</a>
            </li>
          </ul>
        </div>
        
        <div class="search-container ml-auto">
          <form method="post" action="/search">
            <input class="search-bar" type="text" placeholder="enter title..." name="requestedTitle" autocomplete="off">
            <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </nav>